.analitics {
    margin-bottom: 16px;
}

.statics_wrap {
    padding: 16px;
}

.plus-stat {
    color: #3c7d46;
}

.minus-stat {
    color: #a94040;
}

.rs-picker-input-group {
    display: none;
}

.rs-picker-popup.rs-picker-popup-daterange {
    left: 21px !important;
    padding: 0;
}

.rs-picker-daterange-predefined {
    display: none;
}

.rs-picker-daterange-content{
    width: 90vw;
}