.page-category {
    background-color: #efeff3;
    height: 100vh;
    width: 100%;
    z-index: 50;
    position: fixed;
    left: 0;
    bottom: -100%;
    visibility: hidden;
    transform: translateY(100%);
    transition: all 0.5s ease-in-out;
}

.active {
    color: #000 !important;
    font-size: 14px;
    font-weight: 500 !important;
    font-size: 14px !important;
    font-style: normal;
    font-weight: 500 !important;
    line-height: 18.864px;
    letter-spacing: -0.052px;
    font-family: "SF Pro Display", sans-serif;
}   

.page-wrapper {
    padding: 0 20px 0;
}

.page-category.active {
    visibility: visible;
    transform: translateY(0);
    bottom: 1%;
  }