



.store-menu {
    display: flex;
    flex-direction: row;
    gap: 26px;
    background-color: var(--tg-theme-bg-def);   
    color: var(--tg-theme-three-text);
    padding-top: 25px;
    margin-top: 0;
    margin-right: 20px;
    
}

.order.store-header {
    display: flex;
    padding: 20px 0 0 20px;
    border-bottom: none;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0;
    background-color: #fff;
        overflow: auto;
    white-space: nowrap;
}   

.success-title{
    margin-bottom: 30px;
}

.activet::before{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 5px;
    bottom: 0;
    border-radius: 5px 5px 0 0;
    background-color: #d53e76;
}

a:active, a:focus, a:hover {
    text-decoration: none !important;
}

p+p {
    margin-top: 0 !important;
}

.activet{
color: var(--tg-theme-three-text) !important  ;
}