



.store-menu {
    display: flex;
    flex-direction: row;
    gap: 26px;
    background-color: var(--tg-theme-bg-def);   
    color: var(--tg-theme-three-text);
    padding-top: 25px;
    margin-top: 0;
}

.order.store-header {
    display: flex;
    padding: 20px 0 0 20px;
    border-bottom: none;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0;
    background-color: #fff;
}   