body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:root {
  --tg-theme-bg-color: #efeff3  ; /* Цвет фона для светлой темы */
  --tg-theme-bg-def: #fff  ; /* Цвет фона для светлой темы */
  --tg-theme-text-color: #0e2539 ; /* Цвет текста для светлой темы */
  --tg-theme-secondary-bg: #f5f5f5 ; /* Вторичный цвет фона для светлой темы */
  --tg-theme-icon: #999999 ; /* Вторичный цвет фона для светлой темы */
  --tg-theme-icon-activity: #1a4265;
}

.dark-theme {
  --tg-theme-bg-color: #23232D !important; /* Цвет фона для темной темы */
  --tg-theme-text-color: #ffffff !important; /* Цвет текста для темной темы */
  --tg-theme-secondary-bg: #17181C; /* Вторичный цвет фона для темной темы */
  --tg-theme-icon: #fff !important; /* Втор`ичный цвет фона для светлой темы */
  --tg-theme-icon-activity: #d53e76;
  --tg-theme-bg-def: #17181C  !important; /* Цвет фона для светлой темы */
}


html {
  scroll-behavior: smooth;
}

/* body, html {
  overflow: hidden;
} */

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
}

p,
h3 {
  margin: 0;
  padding: 0;
}

div {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.settings-content.dark{
  background-color: #121212;
  color: #ffffff;
}

.read-faq.dark{
  background-color: #121212;
  color: #ffffff;
}

