body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:root {
  /* Светлая тема */
  --tg-theme-bg-color: #efeff3; /* Цвет фона для светлой темы */
  --tg-theme-text-color: #0e2539; /* Цвет текста для светлой темы */
}

.dark-theme {
  /* Темная тема */
  --tg-theme-bg-color: #1a1a1a; /* Цвет фона для темной темы */
  --tg-theme-text-color: #ffffff; /* Цвет текста для темной темы */
}


html {
  scroll-behavior: smooth;
}

/* body, html {
  overflow: hidden;
} */

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
}

p,
h3 {
  margin: 0;
  padding: 0;
}

div {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.settings-content.dark{
  background-color: #121212;
  color: #ffffff;
}

.read-faq.dark{
  background-color: #121212;
  color: #ffffff;
}

.dark-theme{
  background-color: #101010;
  height: 100dvh;
  color: #fff;
}